<div class="col s6 m6 13">
  <div class="card">
    <div class="card-content black-text">
      <span class="card-title small">{{video.videoTitle}}</span>
      {{#if imageShowing}}
        <a href="#" {{action (action (mut imageShowing) false)}}>
          <img src={{video.imageURL}} alt={{video.videoTitle}} class="video-static">
        </a>
      {{else}}
        <iframe class="video" src="{{video.videoURL}}&autoplay=1" frameborder="0" allowfullscreen></iframe>
      {{/if}}
      <span class="card-footer small">{{video.presenters}}</span>
    </div>
  </div>
</div>

