<div class="nav-wrapper">
  <div class="container">
    {{#link-to 'index' class="brand-logo"}}
        <img class="responsive-img" src="img/modern-web-white-logo.png" alt="Modern Web Logo">
    {{/link-to}}

    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <ul class="right hide-on-med-and-down">
      {{nav-item location="trainings" displayName="Training"}}
      {{nav-item location="events" displayName="Events"}}
      {{nav-item location="modern-web-podcast" displayName="Podcast"}}
      {{nav-item location="modern-web-ui" displayName="Videos"}}
      {{nav-item location="signup" displayName="Newsletter"}}

      {{!-- {{nav-item location="beginners" displayName="For Beginners"}} --}}
      {{!-- {{nav-item location="friends" displayName="Friends"}} --}}
    </ul>
    <ul class="side-nav black-text" id="mobile-demo">
      {{nav-item location="trainings" displayName="Training"}}
      {{nav-item location="events" displayName="Events"}}
      {{nav-item location="modern-web-podcast" displayName="Podcast"}}
      {{nav-item location="modern-web-ui" displayName="Videos"}}
      {{nav-item location="signup" displayName="Newsletter"}}

      <!-- {{!-- {{#link-to 'beginners' tagName='li' class='nav-item'}}For Beginners{{/link-to}} --}} -->
      <!-- {{!-- {{#link-to 'friends' tagName='li' class='nav-item'}}Friends{{/link-to}} --}} -->
    </ul>
  </div>
</div>
