<div class="container">

	<!-- title -->

  <div class="row padding-top-30">
    <div class="col s12">
      <h1 class="center-align">Modern Web Training</h1>
    </div>
  </div>
  <div class="row">
    <div class="col s12">

    <div class="card-panel cyan lighten-5 black-text z-depth-1">
      <div class="row">
      <div class="col s12 m12 l8">
        <h4>
          Best in industry training for beginner, intermediate, and advanced level developers.
        </h4>
        <p class="font-size-2em padding-top-45">
          Courses on <a href="http://emberjs.com/">EmberJS</a>, <a href="https://angular.io/">Angular 2</a>, <a href="https://facebook.github.io/react/">ReactJS</a>, <a href="https://www.polymer-project.org/1.0/">Polymer</a>, <a href="http://www.ecma-international.org/ecma-262/6.0/">ES6/ES2015</a>, <a href="http://www.phoenixframework.org/">Phoenix</a>/<a href="http://elixir-lang.org/">Elixir</a>,
          <a href="https://aws.amazon.com/">Amazon AWS</a>, <a href="https://hub.docker.com/enterprise/trial/?gclid=COjfjZes58oCFdgQgQodY4UDrA">Docker</a>, Web Components, Test Driven Development and more.
        </p>
      </div>
        <div class="col s12 m4 l4">
          <p>
            <img class="responsive-img" src="img/modern-web-giga-cloud-sm.png" alt="Giga with a cloud" />
          </p>
        </div>
    </div>
    </div>
  </div>
</div>
	<!-- end title -->

  <div class="row">
    <div class="col s12">
      <h2 class="center-align">Current Courses</h2>
    </div>
  </div>
{{!-- begin featured course --}}
  <div class="row">
    <div class="col s12 padding-top-30">
      <div class="card-panel cyan lighten-5 z-depth-1 center-align">
        <div class="row">
          <div class="col s12">
            <h3>EMBERJS: FAST TRACK &amp; EXPANSION TRACK</h3>
            <h4>with Chase McCarthy &amp; Jonathan Jackson from Ember Weekend.</h4>
            <p class="padding-top-30">
              <img class="responsive-img" src="img/modern-web-cari-sign-ember-lg.png" alt="Cari EmberJS" />
            </p>
            <p class="font-size-2em">
              {{link-to 'Register Now' 'trainings' (query-params anchor='register') class='waves-effect waves-light btn-large red'}}
            </p>
            <p class="font-size-2em">
              May 23 - 24, 2016 - Silicon Valley
            </p>
          </div>
        </div>
        <div class="row font-size-15em center-align">
          <div class="col s12 m6 l3">
            {{link-to 'Instructors' 'trainings' (query-params anchor='instructors')}}
          </div>
          <div class="col s12 m6 l3">
            {{link-to "What You'll Learn" 'trainings' (query-params anchor='learn') }}
          </div>
          <div class="col s12 m6 l3">
            {{link-to 'Schedule' 'trainings' (query-params anchor='schedule') }}
          </div>
          <div class="col s12 m6 l3">
            {{link-to 'Register' 'trainings' (query-params anchor='register') }}
          </div>
        </div>
      </div>
    </div>

  </div>
{{!-- end featured course --}}

  <div class="row">
    <div class="col s12">
      {{#md-card-panel class="cyan lighten-5"}}
        <div class="row">
          <div class="col s12">
                <h3 data-anchor='instructors'>YOUR INSTRUCTORS</h3>
          </div>
        </div>
        <div class="row margin-top-30">
          <div class="col s12 m4 l3">
              <img class="responsive-img circle" src="/img/instructors/chase-mccarthy.jpg" alt="Chase McCarthy Headshot">
          </div>
          <div class="col s12 m8 l9 font-size-15em">
            <h4>Chase McCarthy - Ember Weekend Co-Host &amp; Senior Developer, Hashrocket</h4>
            <p>
              Chase is a consummate nerd. Interested and proficient in a wide range of technology from iOS to Ruby and back again.
            </p>
            <p>
              He began his career in electronics but ended up pursuing a degree in Computer Science. When not learning the latest and greatest in Ember land you can find him buried in a book about machine learning, or possibly investigating flight control algorithms for his quadcopters.
            </p>
            <p>
              Chase works as software developer at Hashrocket, a Ruby on Rails consultancy, where he helps to steer clients toward the best tools for the job. That turns out to be Ember.js more often than not. To help himself and others stay current with Ember and Javascript, Chase and Jonathan Jackson started the weekly podcast Ember Weekend.
            </p>
          </div>
        </div>
        <div class="row margin-top-30">
          <div class="col s12 m4 l3">
              <img class="responsive-img circle" src="/img/instructors/jonathan-jackson.png" alt="Jonathan Jackson Headshot">
          </div>
          <div class="col s12 m8 l9 font-size-15em">
            <h4>Jonathan Jackson - Ember Weekend Co-Host &amp; Senior Developer, Hashrocket</h4>
            <p>
              Jonathan is a seasoned veteran of the Ruby and Rails world, which taught Jonathan the value of convention and community.  Enter Ember, which shares much of the same philosophy.  Jonathan recognized the same energy from the Ruby / Rails community and dove in head first.
            </p>
            <p>
              With commits on EmberCLI and even a few on Ember.js itself Jonathan found himself loving how much fun Ember could be.  Working at Hashrocket, a respected Ruby and Rails consultancy he was put into the enviable position of getting to work with Ember on a daily basis.
            </p>
            <p>
              When not working professionally on Ember projects he and his friend Chase McCarthy would spend weekends working on Ember side projects to stay sharp.  Eventually they could no longer keep all the experience they were gaining to themselves and began the Ember Weekend podcast to share what they had learned.  When not Embering, scouring the interwebs for new programming patterns or writing his next blog post, you can find him spending time at the beach.
            </p>
          </div>
        </div>
      {{/md-card-panel}}
    </div>
  </div>

<div class="row">
  <div class="col s12">
  {{#md-card-panel class="cyan lighten-5"}}
    <div class="row">
      <div class="col s12">
            <h3 data-anchor='learn'>WHAT YOU'LL LEARN</h3>
            <p class="center-align"><img class="responsive-img" src="img/modern-web-giga-cloud-ember-sm.png" alt="Giga Ember"></p>
      </div>
    </div>
    <div class="row font-size-2em">
      <div class="col s12">
        <h4>Summary</h4>
        <p>
          This training is designed to quickly level up your Ember skills.  The fast paced curriculum will focus on building a solid foundation in Ember and dive into advanced Ember techniques.
        </p>
        <p>
          From TDD to Engines, we'll teach you how to put a practical spin on many advanced techniques.
        </p>
        <p>
          By the end of this course you should be able to start solving real business problems with Ember or have a better sense of maximizing your current use of Ember.
        </p>
      </div>
    </div>
  {{/md-card-panel}}
  </div>
</div>

<div class="row">
  <div class="col s12">
  {{#md-card-panel class="cyan lighten-5"}}
    <div class="row">
      <div class="col s12">
            <h3 data-anchor='schedule'>SCHEDULE</h3>
      </div>
    </div>
    <div class="row margin-top-30 font-size-2em">
      <div class="col s12 center-align">
        <h4>Participate in 1 or 2 days of Ember.js training based upon your skill level and expertise.</h4>
        <p><img class="responsive-img" src="img/cari-footer.png" alt="Cari"></p>
      </div>
    </div>
    <div class="row margin-top-30 font-size-2em">
      <div class="col s12 m6 l6">
        <h4>Day 1 - EmberJS Fast Track</h4>
        <p>Mon May 23, 2016, 9am-6pm</p>
        <p>
          {{register-button}}
        </p>
        <p>
          Level up and develop a solid understanding of the Ember.js building blocks by utilizing advanced community driven solutions to common problems.
        </p>
        <p>
          Some of the techniques we teach will include exploration into Ember's rich <a href="https://www.emberaddons.com/">add-on ecosystem</a>, <a href="http://emberobserver.com/categories/authentication">authorization / authentication</a>, and <a href="https://guides.emberjs.com/v2.3.0/testing/">advanced testing techniques</a>.
        </p>
        <p>
          This day is great for developers who have zero Ember.js experience.
        </p>
        <p>
          This course is also great for developers who understand Ember.js but need to develop a stronger understanding of how to utilize Ember.js to create ambitious web apps.
        </p>
        <strong><h4>Key Concepts</h4></strong>
        <p>
          <ul>
            <strong><li>Creating a new project</li></strong>
            <li>* Use <a href="http://ember-cli.com/">Ember CLI</a> to create a new project and go over the basic structure of an app.</li>
            <strong><li>Running the server</li></strong>
            <li>* Serve an ember app in development.</li>
            <strong><li>Basic testing</li></strong>
            <li>* Generate an acceptance test and run the <a href="https://guides.emberjs.com/v2.3.0/testing/">test suite</a>.</li>
            <strong><li>Promises</li></strong>
            <li>* Introduce how Ember deals with asynchronous behavior.</li>
            <strong><li>Routes</li></strong>
            <li>* Learn what gives structure to an Ember application.</li>
            <strong><li>Components</li></strong>
            <li>* Share reusable templates and behavior.</li>
            <strong><li>Actions</li></strong>
            <li>* Trigger changes based on user input.</li>
            <strong><li>Services</li></strong>
            <li>* Move persistent state out of short lived components.</li>
            <strong><li>Add-ons</li></strong>
            <li>* Utilize community driven and proven solutions.</li>
            <strong><li>Helpers</li></strong>
            <li>* Extract small pieces of reusable template code.</li>
          </ul>
        </p>
      </div>
      <div class="col s12 m6 l6">
        <h4>Day 2 - EmberJS Expansion Track</h4>
        <p>Tues May 24, 2016, 9am-6pm</p>
        {{register-button}}
        <p>
          Attendance of Day 1 is not required, but recommended you understand all fundamental basics listed under key concepts.
        </p>
        <p>
          Strengthen your Ember.js knowledge and level up your skills using the framework. We will also build on the foundation of the app we create in Day 1.
        </p>
        <p>
           We'll start this day off with training focused on what to do when your app is more complete. We'll walk through the structure of a complex Ember app by showcasing key features listed below.
        </p>
        <strong><h4>Key Concepts</h4></strong>
        <p>
          <ul>
            <strong><li>Advanced testing</li></strong>
            <li>* <a href="https://guides.emberjs.com/v2.3.0/testing/acceptance/">Acceptance tests</a></li>
            <li>* <a href="https://www.npmjs.com/package/ember-cli-page-object">Page objects</a></li>
            <li>* <a href="https://guides.emberjs.com/v2.3.0/testing/testing-components/">Integration tests</a> (components)</li>
            <li>* <a href="https://guides.emberjs.com/v2.3.0/testing/unit-testing-basics/">Unit tests</a> (helpers, routes, services)</li>
            <strong><li>Authentication using Torii and Ember-Simple-Auth</li></strong>
            <li>* Account creation</li>
            <li>* Account update</li>
            <li>* OAuth sign in</li>
            <strong><li>APIs and Ember-CLI-Mirage</li></strong>
            <li>* <a href="http://emberjs.com/api/data/classes/DS.JSONAPIAdapter.html">JSON API</a></li>
            <li>* <a href="http://www.ember-cli-mirage.com/">Mocking an API</a></li>
            <li>* Live JSON API</li>
            <strong><li>Ember Data</li></strong>
            <li>* <a href="https://guides.emberjs.com/v2.3.0/models/">Creating a model</a></li>
            <li>* <a href="https://guides.emberjs.com/v2.3.0/models/creating-updating-and-deleting-records/">Persisting a model</a></li>
            <strong><li>Deployment</li></strong>
            <li>* Deploy your Ember apps easily and confidently with <a href="http://ember-cli.com/ember-cli-deploy/">ember-cli-deploy</a>.</li>
            <strong><li>Sockets</li></strong>
            <li>* Learn how to integrate real-time data into Ember Data with sockets.</li>
          </ul>
        </p>
      </div>
    </div>
  {{/md-card-panel}}
  </div>
</div>

<div class="row">
  <div class="col s12">
  {{#md-card-panel class="cyan lighten-5"}}
    <div class="row">
      <div class="col s12">
            <h3 data-anchor='register'>REGISTER TODAY</h3>
      </div>
    </div>
    <div class="row margin-top-30">
      <div class="col s12 m4 l4 center-align">
        <p class="font-size-2em">
          <a href=" https://www.eventbrite.com/e/emberjs-fast-track-expansion-track-modern-web-training-with-ember-weekend-tickets-21688386548">{{md-btn text='2 Day Training' buttonType='large' class='waves-effect waves-light btn-large red'}}</a>
        </p>
        <p class=font-size-15em>
          May 23-24, 2016, 9am-6pm
        </p>
        <p class="font-size-15em">
          Immerse yourself in our 2-day training and walk away a better developer.
        </p>
      </div>
      <div class="col s12 m4 l4 center-align">
        <p class="font-size-2em">
          <a href=" https://www.eventbrite.com/e/emberjs-fast-track-expansion-track-modern-web-training-with-ember-weekend-tickets-21688386548">{{md-btn text='Fast Track' buttonType='large' class='waves-effect waves-light btn-large red'}}</a>
        </p>
        <p class=font-size-15em>
          Mon May 23, 2016, 9am-6pm
        </p>
        <p class=font-size-15em>
          Become an Ember.js developer or refresh your knowledge.
        </p>
      </div>
      <div class="col s12 m4 l4 center-align">
        <p class=font-size-2em>
          <a href=" https://www.eventbrite.com/e/emberjs-fast-track-expansion-track-modern-web-training-with-ember-weekend-tickets-21688386548">{{md-btn text='Expansion Track' buttonType='large' class='waves-effect waves-light btn-large red'}}</a>
        </p>
        <p class=font-size-15em>
          Tues May 24, 2016, 9am-6pm
        </p>
        <p class=font-size-15em>
          Level up your skills to Ember.js pro with this one day training.
        </p>
      </div>
    </div>
  {{/md-card-panel}}
  </div>
</div>

<div class="row">
  <div class="col s12">
  {{#md-card-panel class="cyan lighten-5"}}
    <div class="row">
      <div class="col s12">
            <h3>PREREQUISITES</h3>
      </div>
    </div>
    <div class="row margin-top-30 font-size-2em">
      <div class="col s12">
        <h4 class="center-align">Recommended Skills</h4>
        <p>
          This is a fast paced training that will cover a wide range of web technologies. We highly recommended that you are comfortable with the following subjects:
        </p>
        <p>
          <ul>
            <li>* JavaScript</li>
            <li>* jQuery</li>
            <li>* HTTP</li>
            <li>* AJAX</li>
            <li>* HTML/CSS</li>
          </ul>
        </p>
        <p>
          No previous Ember.js experience is required for training on Day 1. Day 2 will require that you be familiar with subject matter covered in Day 1.
        </p>
      </div>
      <div class="col s12">
        <h4 class="center-align">Hardware</h4>
        <p>
          <strong>Recommended</strong>
        </p>
        <p>
          * Macbook Pro with OS X 10.10.x (Yosemite) or newer
        </p>
        <p>
          <strong>Minimum</strong>
        </p>
        <p>
          * Macbook Air and OS X 10.7 (Lion)
        </p>
        <p>
          * Ubuntu laptop if that's your preference
        </p>
        <p>
          * Note: Windows laptops are not recommended. Node and Ember CLI support for Windows is suboptimal and will not provide the best training experience.
        </p>
      </div>
      <div class="col s12">
        <h4 class="center-align">Software</h4>
        <p>
          <ul>
            <li>* Node 0.12.x or newer</li>
            <li>* Ember CLI 2.3.0 (or latest stable release)</li>
          </ul>
        </p>
        <p>
          Make sure you can successfully `ember new project-name` and `ember serve` that project before the first day training. This will help us move quickly into training so we can cover as much as possible.
        </p>
      </div>
      <div class="col s12">
        <h4 class="center-align">Other Things</h4>
        <p>
          It would also be helpful (though not required) to set up an account on the <a href="https://embercommunity.slack.com">Ember Community Slack</a>.
        </p>
        <p>
          If you run into any issues getting your Ember environment setup, please ask for help in the <a href="https://embercommunity.slack.com/messages/needhelp/">#needhelp</a> channel or feel free to <a href="mailto: hello@modern-web.org">email us</a>.
        </p>
        <p>
          Twitter: <a href="http://twitter.com/modernweb_">@modernweb_</a> or find us directly at <a href="https://twitter.com/code0100fun">@code0100fun</a> and <a href="https://twitter.com/rondale-sc">@rondale-sc</a>.
        </p>
        <p>
          Ember.js Slack: <a href="https://embercommunity.slack.com/messages/@rondale_sc/">rondale_sc</a> and <a href="https://embercommunity.slack.com/messages/@code0100fun/">code0100fun</a>.
        </p>
        <p>
          Email: <a href="mailto: hello@modern-web.org">hello@modern-web.org</a>.
        </p>
      </div>
      <div class="col s12">
        <p class="center-align">
          <img class="responsive-img" src="img/sams-giga-web-size.png" alt="Sams Giga">
        </p>
        <p class="center-align">
          {{register-button}}
        </p>
      </div>
    </div>
  {{/md-card-panel}}
  </div>
</div>

<div class="row">
  <div class="col s12">
    <p class="font-size-2em">
      Online and offline trainings available. Need an exclusive training? Inquire <a href="mailto:hello@modern-web.org">here</a>.
    </p>
  </div>
</div>

</div>
